@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

body {
	font-family: Outfit, sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: $color-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Outfit, sans-serif;
	font-weight: 700;
}

.btn {
	padding: 9px 24px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;

	&-icon {
		width: 24px;
		height: 24px;
		aspect-ratio: 1;
		margin-left: 0.5rem;
	}

	&-primary {
		background-color: $color-primary;
		border-color: $color-primary;

		&:hover {
			background-color: color.adjust($color-primary, $lightness: -5%);
			border-color: color.adjust($color-primary, $lightness: -5%);
		}
	}
}
