@use "sass:color";
@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap);

body {
	font-family: Outfit, sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: $color-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Outfit, sans-serif;
	font-weight: 700;
}

.btn {
	padding: 8px 24px;
	border-radius: 3px;
	font-size: 11px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.55px;
	text-transform: uppercase;

	&-primary {
		background: $color-primary;
		border-color: $color-primary;

		&:hover,
		&:focus {
			background: color.adjust($color-primary, $lightness: -10%);
			border-color: color.adjust($color-primary, $lightness: -10%);
		}
	}

	&.has-icon {
		display: flex;
		align-items: center;
		gap: 10px;

		svg {
			width: 24px;
			height: 24px;
		}
	}
}
