.hero {
	width: 100%;
	overflow: hidden;

	&-content {
		padding-right: 2rem;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: end;
		height: 100%;
		padding-bottom: 100px;

		@include breakpoint-down(lg) {
			padding-bottom: 24px;
		}

		@include breakpoint-down(md) {
			padding-right: 0;
			padding-bottom: 50px;
			padding-top: 50px;
		}

		h1 {
			color: #000;
			font-size: 40px;
			font-style: normal;
			font-weight: 700;
			line-height: 1.1;
			letter-spacing: 2px;
			text-transform: uppercase;
			margin-bottom: 16px;
			max-width: 536px;

			@include breakpoint-down(lg) {
				font-size: 24px;
			}
		}

		p {
			font-style: normal;
			font-weight: 400;
			max-width: 429px;
			margin-bottom: 24px;
		}
	}

	&-image {
		aspect-ratio: 1;
		position: relative;
		overflow: hidden;
		border-radius: 16px;
		width: 120%;

		@include breakpoint-down(md) {
			width: 100%;
			aspect-ratio: 2/1.5;
		}

		@include breakpoint-down(sm) {
			aspect-ratio: 2/1.2;
		}

		img {
			width: 100%;
			height: 100%;
			inset: 0;
			position: absolute;
			object-fit: cover;
			object-position: center;
		}
	}

}
