.nav {

	&-item {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 13px;
		letter-spacing: 1px;
	}

	&-link {
		color: $color-black;

		&:hover,
		&:focus {
			color: $color-primary;
		}
	}
}

.navbar {

	&-brand {
		margin-right: 4rem;
		width: 140px;
		height: auto;
	}

	&-nav {

		.nav-link {

			.active {
				color: $color-primary;
			}
		}
	}

	&-expand-lg {

		.navbar-nav .nav-link {
			padding-right: 12px;
			padding-left: 12px;
		}
	}
}
